.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.option-box .gear-check,.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.carousel-indicators .active {
    background-color: #afbd21;
}
.navbar-inverse .navbar-brand span,
.about h1 span,
.footer .copyright span,
.testimonials span,
.footer h3
{
    color: #afbd21;
}
.dropdown-menu {
    border-top: 3px solid #afbd21;
}
.testimonials .carousel-indicators li.active,
.option-box .color-option {
    border: 3px solid #afbd21;}
